html, body {
    padding: 0px;
    margin: 0px;
    background-image: url("../sourceimg/gamebg1.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    width: 100%;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    -ms-touch-action: none;
    overflow: hidden;
}


#menu {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-image: url("../sourceimg/bg.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#titleDiv {
    float: left;
    position: absolute;
    width: 38%;
    height: 32%;
    z-index: 2;
    left: 30%;
    top: -3%;
}

#startDiv {
    float: left;
    position: absolute;
    width: 10%;
    height: 10%;
    left: 45%;
    top: 39%;
    z-index: 2;
}

#explanationDiv {
    float: left;
    position: absolute;
    width: 10%;
    height: 10%;
    z-index: 2;
    left: 45%;
    top: 53%;
}



#aboutDiv {
    float: left;
    position: absolute;
    width: 10%;
    height: 10%;
    z-index: 2;
    left: 45%;
    top: 67%;
}

.about2Div {
    float: left;
    position: absolute;
    width: 50%;
    height: 80%;
    z-index: 1;
    left: 25%;
    top: 10%;
    background-image: url("../sourceimg/info.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#start2Div {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}





#startGameDioDiv {
    float: left;
    position: absolute;
    width: 100%;
    height: 50%;
    z-index: 999;
    top: 2%;
    background-image: url("../sourceimg/level/start.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

#endGameMessageDiv {
    float: left;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
